<footer class="footer">
    <div class="container">
        <p class="text-muted">Website created and maintained by <a href="https://github.com/laterbreh">@laterbreh</a> AKA The Gain Train - <a href="http://laterbreh.github.io/conventionalownage/">GIT</a></p>
        <p class="text-muted">

            <% if (user) { %>
                Auth: <%= user.username %> -
            <a href="/logout">Logout</a>
            <% } else { %>
                Not Logged In - <a href="/login">Login</a>
            <% } %>
        </p>
    </div>
</footer>
</body>
</html>