<footer class="footer">
    <div class="container">
        <p class="text-muted">Website created and maintained by <a href="https://github.com/laterbreh">@laterbreh</a> AKA The Gain Train</p>
    </div>
</footer>
</body>
</html>